*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: black;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: #b7ff00;
}
#page2 h1{
    text-transform: uppercase;
    font-size: 35vw;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
